<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <script>
    // 定义文本
    var msg="姓名:<%= name %>,年龄:<%= age %>";
    // 定义一组数据
    var data={
      name:"小茗",
      age:21
    };
    // 利用正则表达式匹配模板的语法,替换成真正的数据str.replace()
    var reg=/<%=\s*([^%>]+\S)\s*%>/g;
    var match=msg.match(reg);
    console.log(match);
    msg=msg.replace(match[0],data.name);
    msg=msg.replace(match[1],data.age);
    console.log(msg);
  </script>
</body>
</html>