<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div id="app">
    <ol>
      <li v-for='item in arr'>{{item}}</li>
    </ol>
    <p>
      <button @click='px'>点击排序(升序)</button>
    </p>
    <ul>
      <li v-for='(item,index) in student'>
        {{index}}-{{item.name}}:{{item.age}}
      </li>
    </ul>
    <p>
      <button @click='sortStudent'>点击对象排序</button>
    </p>
  </div>
  <script>
    /*v-for*/
    new Vue({
      el:'#app',
      data:{
        arr:[10,21,35,40,55,6],
        student:[
          {name:'zs',age:20},
          {name:'ls',age:18},
          {name:'ww',age:30}
        ]
      },
      methods:{
        px(){
          return this.arr.sort(function(a,b){
            return a-b;
          })
        },
        sortStudent(){
          return this.student.sort(function(a,b){
            let x=a['age'];
            let y=b['age'];
            return x-y;
          })
        }
      }
    });
  </script>
</body>
</html>